

.header{
    display: flex;
    justify-content:space-between;/*para mandar un div a la izq, otro al centro y otro a la derecha*/
    height: 120px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.navbar__center{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1px;
    
}
.navbar__center__items{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(177, 177, 177);
}


.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    row-gap: 50px;
    margin: 0 auto;

    
}


.producto{ 
    max-width: 300px;
    height: auto;  
    
}

.producto__image{
    object-fit: 90%;
    max-width: 300px;
    border-radius: 25px;
    
   
}

.producto__nombre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 2px;
    margin-bottom: -2px;
}

.producto__precio{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.navbar{
    display: flex;
    list-style: none;
    margin-left: 10px;
    gap: 10px;

}

.submenu{
    z-index: 1;
    margin-left: 10px;
    position: absolute;

}
.navbar li{
    color: rgb(47, 47, 47);
    font-weight: 800;
    font-size: small;
}





.searcher{
    
    border: 0;
    border-bottom: 1px solid black;
}

.navbar__right--perfil{
    width: 20px;

}

.navbar__right--cesta{
    width: 30px;
}


.descuento{
    text-align: center;
    border-top: 3px solid rgb(237, 237, 237);
    border-bottom: 3px solid rgb(237, 237, 237);
}

.contacto{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 3px solid rgb(237, 237, 237);

}


.datos{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

#color{
    color: rgb(135, 209, 185);
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.footer__item--categoria{
    font-weight:bold
}

ul{
    list-style: none;
}

ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: lighter;
    color: rgb(80, 80, 80);

    
}




